.search-field__input {
  border-radius: 18px;
  box-shadow: 0 4px 16px -3px rgba(0, 0, 0, 0.07);
  height: 36px;
  padding-left: 14px;
  color: #C4C4C4;
  letter-spacing: 0.04em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 3px 9px;
}

.search-field__input:focus {
  box-shadow: 0 4px 16px -3px rgba(0, 0, 0, 0.15);
}

.search-field__input {
  width: 160px;
}

.search-field__input[name=type] {
  width: 131px;
}

.search-field__input[name=id] {
  width: 102px;
}

@media only screen and (min-width: 670px) {
  .search-field__input[name=name] {
    width: 405px;
  }
}
