.searchbar__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-field__element {
  border-radius: 18px;
  box-shadow: 0 4px 16px -3px rgba(0, 0, 0, 0.07);
  height: 36px;
  padding-left: 14px;
  color: #828282;
  letter-spacing: 0.04em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 3px 9px;
}

.input-field__element:focus {
  box-shadow: 0 4px 16px -3px rgba(0, 0, 0, 0.15);
}

.input-field__element {
  width: 160px;
}

.input-field__element[name=type] {
  width: 131px;
}

.input-field__element[name=id] {
  width: 102px;
}

@media only screen and (min-width: 670px) {
  .input-field__element[name=name] {
    width: 405px;
  }
}

