@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  background-color: #f9f9f9;
  width: 100%;
}

input,
input:focus {
  outline: none;
  border: none;
}

button,
button:hover,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
}
